<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>3D Gaussian Splat Demo - NUS Plant</title>
    <script type="text/javascript" src="./static/js/util.js"></script>
    <script type="importmap">
    {
        "imports": {
            "three": "./static/lib/three.module.js",
            "test/gaussian-splats-3d": "./static/lib/gaussian-splats-3d.module.js"
        }
    }
  </script>
    <style>

    body {
      background-color: #000000;
      height: 100vh;
      margin: 0px;
    }

  </style>

  </head>

  <body>
    <p id="model_name" style="display: none;"><%= data.message %></p>

    <script type="module">
    import * as GaussianSplats3D from 'test/gaussian-splats-3d';
    import * as THREE from 'three';
    
    var model_name = document.getElementById('model_name').textContent.substring(1);
    console.log("model_name: %s", model_name);
    
    var camera_up = [0, 0, 1];
    var initial_camera_position = [-3.15634, -0.16946, -0.51552]
    if (model_name == "truck") {
      camera_up = [0, -1, -0.17];
      initial_camera_position = [-5, -1, -1];
    } else if (model_name == "stump") {
      camera_up = [0, -1, -1.0];
      initial_camera_position = [-3.3816, 1.96931, -1.71890];
    }

    const viewer = new GaussianSplats3D.Viewer({
      'cameraUp': camera_up,
      'initialCameraPosition': initial_camera_position,
      // 'initialCameraLookAt': [1.52976, 2.27776, 1.65898]
    });
    
    // let path = 'static/assets/data/' + model_name;
    let path = 'splats/' + model_name;
    console.log("path: %s", path);
    
    if (model_name == "truck" || model_name == "stump") {
      path += '.ksplat' // isMobile() ? '.ksplat' : "_high.ksplat";
    } else {
      path += '.splat' // isMobile() ? '.splat' : '_high.splat';
    }
    viewer.addSplatScene(path, {
      'streamView': true,
      'progressiveLoad': true,
    })
    .then(() => {
        viewer.start();
    });
  </script>
  </body>

</html>